.custom-toolbar {
  --min-height: 42px;
}

/* FORCE TRUE CENTERING */
.custom-title {
  width: 100%;
  text-align: center;
  padding: 0;
}

/* SEARCH BAR ROW */
.search-toolbar {
  padding: 6px 0;
}

/* REMOVE EXTRA INTERNAL SPACING */
ion-searchbar {
  --border-radius: 20px;
  --box-shadow: none;
  height: 36px;
  padding: 0;
}

/* FIX ICON ALIGNMENT */
.profile-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* REMOVE DEFAULT BUTTON PADDING OFFSET */
.profile-col ion-button {
  margin: 0;
}

/* CENTER EMPTY STATE */
.empty-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-card {
  width: 400px;
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

/* GRID */
.grid-container {
  padding: 16px;
}

/* TUTOR CARD */
.tutor-card {
  border-radius: 12px;
}

/* FAKE IMAGE */
.image-placeholder {
  width: 100%;
  height: 120px;
  border-radius: 8px;
}

/* TEXT */
.price {
  font-weight: bold;
}

.desc {
  font-size: 14px;
}

.footer-toolbar {
  padding: 12px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* LEFT TEXT */
.footer-title {
  margin: 0;
  font-size: 14px;
}

/* RIGHT LINKS */
.footer-links {
  display: flex;
  gap: 24px; // spacing between links
}

.footer-links a {
  text-decoration: none;
  font-size: 14px;
}