.custom-toolbar {
  --min-height: 42px;
}

/* FORCE TRUE CENTERING */
.custom-title {
  width: 100%;
  text-align: center;
  padding: 0;
}

/* FIX ICON ALIGNMENT */
.profile-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* REMOVE DEFAULT BUTTON PADDING OFFSET */
.profile-col ion-button {
  margin: 0;
}

.footer-toolbar {
  padding: 12px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* LEFT TEXT */
.footer-title {
  margin: 0;
  font-size: 14px;
}

/* RIGHT LINKS */
.footer-links {
  display: flex;
  gap: 24px; // spacing between links
}

.footer-links a {
  text-decoration: none;
  font-size: 14px;
}


ion-card {
  border-radius: 12px;
}

/* Image styling */
ion-img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}

/* Price */
.price {
  color: var(--ion-color-success);
  font-weight: bold;
  font-size: 1.4rem;

  span {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
  }
}

/* Stars spacing */
ion-icon {
  margin-right: 2px;
  font-size: 18px;
}

/* Review spacing */
ion-item {
  --padding-start: 0;
}

/* Avatar tweak */
ion-avatar img {
  object-fit: cover;
}

.page-container {
  max-width: 1000px;   // controls how wide your content is
  margin: 0 auto;      // centers it horizontally
  padding: 0 16px;     // small breathing space on mobile
}