<ion-header>

  <!-- TOP BAR -->
  <ion-toolbar class="custom-toolbar" color="primary">

    <!-- LEFT: HOME -->
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- CENTER: TITLE -->
    <ion-title class="custom-title">TutorFast</ion-title>

    <!-- RIGHT: PROFILE -->
    <ion-buttons slot="end">
      <ion-button name = "profile" (click)="goProfile()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="register-page">
  <main class="register-container">
    <section class="register-card">
      <div class="icon-user">
        <ion-icon name="person-outline"></ion-icon>
      </div>

      <h1>Crear Cuenta</h1>
      <p class="subtitle">Únete a nuestra plataforma de tutorías</p>

      <form (ngSubmit)="createAccount()">
        <ion-label>RUT</ion-label>
        <ion-input
          type="text"
          placeholder="12.345.678-K"
          [ngModel]="user.rut"
          (ngModelChange)="onRutChange($event)"
          name="rut"
          #rutCtrl="ngModel"
          maxlength="12"
          pattern="^\d{1,2}\.\d{3}\.\d{3}-[0-9Kk]$"
          required>
        </ion-input>
        <div class="error-msg" *ngIf="rutCtrl.invalid && rutCtrl.touched">
          Formato incorrecto. Ej: 12.345.678-K
        </div>

        <ion-label>Nombre</ion-label>
        <ion-input
          type="text"
          placeholder="nombreEjemplo"
          [(ngModel)]="user.name"
          name="name">
        </ion-input>

        <ion-label>Apellido</ion-label>
        <ion-input
          type="text"
          placeholder="apellidoEjemplo"
          [(ngModel)]="user.lastname"
          name="lastname">
        </ion-input>

        <ion-label>Correo electrónico</ion-label>
        <ion-input
          type="email"
          placeholder="correoEjemplo@gmail.com"
          [(ngModel)]="user.email"
          name="email"
          #emailCtrl="ngModel"
          pattern="^[a-zA-Z0-9._%+-]+@(gmail\.com|mail\.pucv\.cl)$"
          required>
        </ion-input>
        <div class="error-msg" *ngIf="emailCtrl.invalid && emailCtrl.touched">
          El correo debe ser @gmail.com o @mail.pucv.cl
        </div>

        <ion-label>Contraseña</ion-label>
        <ion-input
          type="password"
          placeholder="contraseñaEjemplo"
          [(ngModel)]="user.password"
          name="password"
          #passCtrl="ngModel"
          pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{6,}$"
          required>
        </ion-input>
        <div class="error-msg" *ngIf="passCtrl.invalid && passCtrl.touched">
          Debe ser alfanumérica, tener mín. 1 mayúscula y 1 carácter especial.
        </div>

        <p class="role-title">Soy un:</p>

        <div class="role-selector">
          <button
            type="button"
            [class.active]="user.role === 'student'"
            (click)="selectRole('student')">
            Estudiante
          </button>

          <button
            type="button"
            [class.active]="user.role === 'tutor'"
            (click)="selectRole('tutor')">
            Tutor
          </button>
        </div>

        <div class="terms">
          <ion-checkbox [(ngModel)]="user.acceptTerms" name="terms"></ion-checkbox>
          <span>
            Acepto los <a href="#">Términos y condiciones</a>
          </span>
        </div>

        <ion-button expand="block" type="submit" class="create-btn">
          Crear cuenta
        </ion-button>
      </form>

      <p class="login-link">
        ¿Ya tienes una cuenta?
        <a routerLink="/home">Inicia sesión</a>
      </p>

      <div class="social-divider"></div>

      <div class="social-icons">
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-apple"></ion-icon>
      </div>
    </section>
  </main>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar" color="medium">

    <div class="footer-container">

      <!-- LEFT -->
      <p class="footer-title">TutorFast 2026</p>

      <!-- RIGHT -->
      <div class="footer-links">
        <a href="#">Términos y servicios</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Centro de ayuda</a>
      </div>

    </div>

  </ion-toolbar>
</ion-footer>